.content1{
    color:white;
    background-color: tomato;
    border: 10px solid red;
    margin: 40px 20px;
    padding: 30px;
    font-style: italic;
    font-weight: bolder;

}
h2{
    color:white ;
    
}